.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 87%;
    z-index: 5;
}

.register-title {
    font-size: 20px;
    font-weight: 600;
    align-self: center;
}

.register-form{
    height: 65%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.submit-register{
    align-self: center;
    width: 100%;
    background-color: #fe2c55;
    height: 20%;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-proposal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
}

.login-link{
    color:#fe2c55;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
}