.followers-navigation {
  position: fixed;
  visibility: hidden;
}

.followers-column {
  width: 23rem;
  height: 60rem;
  padding: 1rem;
}

.mobile-shadow {
  display: none;
}

.mobile-logo {
  position: fixed;
  width: 12.9rem;
  height: 4rem;
  top: 1rem;
  left: 7rem;
  background-image: url('../../images/tiker-logo.png');
  background-repeat: no-repeat;
  background-size: 11rem;
  margin: 0.5rem;
}

.followers-column--mobile {
  position: fixed;
  width: 60vw;
  height: 80vh;
  background-color: white;
  padding-top: 9.8vh;
  padding-left: 5vw;
  padding-right: 4vw;
  z-index: 2;
}

.followers-section {
  display: flex;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  user-select: none;
}

.followers-section:hover {
  background-color: rgb(245, 245, 245);
}

.home {
  width: 3rem;
  height: 2.9rem;
  background-image: url('../../images/home-icon.svg');
  background-size: 3rem;
  margin-right: 1.5rem;
}

.home-red {
  width: 3rem;
  height: 2.9rem;
  background-image: url('../../images/home-icon-red.svg');
  background-size: 3rem;
  margin-right: 1.5rem;
}

.following {
  width: 3rem;
  height: 2.9rem;
  background-image: url('../../images/following-icon.svg');
  background-size: 3rem;
  margin-right: 1.5rem;
}

.following-red {
  width: 3rem;
  height: 2.9rem;
  background-image: url('../../images/following-icon-red.svg');
  background-size: 3rem;
  margin-right: 1.5rem;
}

.white-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fe2c55;
  font-weight: 600;
  font-size: 1.4rem;
  border: 1px solid #fe2c55;
  border-radius: 5px;
  text-align: center;
  height: 4rem;
  cursor: pointer;
}

.white-btn:hover {
  background-color: #fff4f6;
}

.login-caption {
  font-size: 1.4rem;
}

@media (min-width: 38rem) and (max-width: 70rem) {
  .followers-column {
    width: 5rem;
  }
  .followers-text {
    display: none;
  }
  .followers-section {
    padding-left: 1rem;
  }
  .login-caption {
    display: none;
  }
  .white-btn {
    display: none;
  }
}

@media (max-width: 38rem) {
  .followers-navigation {
    visibility: visible;
    top: 3rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    z-index: 10;
    cursor: pointer;
  }
  .followers-hamburger--white {
    transform: translateX(1rem);
    width: 3rem;
    height: 0.2rem;
    background-color: white;
  }
  .followers-hamburger--white::before {
    content: '';
    position: fixed;
    top: 1rem;
    width: 3rem;
    height: 0.2rem;
    background-color: white;
  }
  .followers-hamburger--white::after {
    content: '';
    position: fixed;
    top: 2rem;
    width: 3rem;
    height: 0.2rem;
    background-color: white;
  }
  .followers-hamburger--black {
    transform: translateX(1rem);
    width: 3rem;
    height: 0.2rem;
    background-color: black;
  }
  .followers-hamburger--black::before {
    content: '';
    position: fixed;
    top: 1rem;
    width: 3rem;
    height: 0.2rem;
    background-color: black;
  }
  .followers-hamburger--black::after {
    content: '';
    position: fixed;
    top: 2rem;
    width: 3rem;
    height: 0.2rem;
    background-color: black;
  }

  .followers-column {
    visibility: hidden;
    position: fixed;
  }
  .mobile-shadow {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 31vw;
    height: 90vh;
    background-color: black;
    opacity: 0.6;
    z-index: 0;
  }
}
