.followers-column {
    width: 230px;
    height: 600px;
    padding: 10px;
  }
  
  .followers-section {
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;
  }
  
  .home {
    width: 30px;
    height: 29px;
    background-image: url('https://i.imgur.com/Q582Dp0.png');
    background-size: 30px;
    margin-right: 15px;
  }
  
  .following {
    width: 30px;
    height: 29px;
    background-image: url('https://i.imgur.com/Aq7L3jv.png');
    background-size: 30px;
    margin-right: 15px;
  }

  .white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe2c55;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #fe2c55;
    border-radius: 5px;
    text-align: center;
    height: 40px;
  }

  .white-btn:hover {
    background-color: #fff4f6;
  }

  .white-btn:active {
    background-color: #fdccd6;
  }

  .login-caption {
    font-size: 14px;
  }