.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 87%;
  z-index: 5;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
}

.login-form {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.email-field {
  position: relative;
}

.email-input {
  width: 100%;
  font-size: 1.8rem;
}

.password-field {
  position: relative;
}

.password-input {
  width: 100%;
  font-size: 1.8rem;
}

.login-error {
  color: red;
  font-size: 1.4rem;
}

.submit-login {
  align-self: center;
  width: 100%;
  background-color: #fe2c55;
  height: 20%;
  font-size: 1.8rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.register-info {
  color: black;
}

.register-proposal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
}

.register-link {
  color: #fe2c55;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
}
