.login-container {
  margin: 0 auto;
  height: 82%;
  z-index: 5;
}

.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}

.login-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.email-label {
  position: absolute;
  top: 17%;
  left: 15%;
  font-size: 1.8rem;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
}

.email-input {
  width: 72%;
  height: 8%;
  margin: 1rem 0 0 0;
  padding-left: 1rem;
  font-size: 1.8rem;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.5rem;
}

.email-input:focus + .email-label {
  font-size: 1.2rem;
  transform: translateY(-1.5rem);
}

.password-label {
  position: absolute;
  top: 26%;
  left: 15%;
  font-size: 1.8rem;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
}

.password-input {
  margin: 1rem 0 0 0;
  padding-left: 1rem;
  width: 72%;
  height: 8%;
  font-size: 1.8rem;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(172, 172, 172);
  border-radius: 0.5rem;
}

.password-input:focus + .password-label {
  font-size: 1.2rem;
  transform: translateY(-1.5rem);
}

.login-error {
  color: red;
  font-size: 1.4rem;
  margin-right: 15rem;
}

.submit-login {
  width: 75%;
  margin-top: 3rem;
  background-color: #fe2c55;
  height: 8%;
  font-size: 1.8rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.register-proposal {
  display: flex;
  align-items: center;
  height: 7%;
  margin-left: 3rem;
}

.register-info {
  color: black;
}

.register-link {
  color: #fe2c55;
  font-weight: 600;
  cursor: pointer;
  margin-left: 5px;
}
