.profile__container {
  margin: 3rem;
  width: 35%;
}

.profile__info {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  grid-template-columns: auto 1fr;
}

.profile__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__username {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.profile__name {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.profile__stats {
  grid-column: 1 / -1;
  display: flex;
  font-size: 1.5rem;
}

.profile__following {
  padding: 1rem;
}

.profile__following--number {
  color: black;
  font-weight: 600;
}

.profile__followers {
  padding: 1rem;
}

.profile__followers--number {
  color: black;
  font-weight: 600;
}

.profile__bio {
  grid-column: 1 / -1;
  font-size: 1.8rem;
}

.profile__posts {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.posts__owned {
  font-size: 2rem;
  font-weight: 600;
  color: lightgray;
  border-bottom: 2px solid lightgray;
  width: 100%;
  cursor: pointer;
}

.posts__owned--active {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid black;
  width: 100%;
  cursor: pointer;
}

.posts__liked {
  font-size: 2rem;
  font-weight: 600;
  color: lightgray;
  border-bottom: 2px solid lightgray;
  width: 100%;
  cursor: pointer;
}

.posts__liked--active {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
  width: 100%;
  cursor: pointer;
}

.profile__content {
  grid-column: 1 / -1;
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 2px;
}
