.profile__container {
  margin: 3rem;
  width: 35%;
}

.profile__info {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  grid-template-columns: auto 1fr;
}

.profile__mobileHeader {
  display: none;
}

.profile__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile__username {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.profile__name {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.profile__stats {
  grid-column: 1 / -1;
  display: flex;
  font-size: 1.5rem;
}

.profile__following {
  padding: 1rem;
}

.profile__following--number {
  color: black;
  font-weight: 600;
}

.profile__followers {
  padding: 1rem;
}

.profile__followers--number {
  color: black;
  font-weight: 600;
}

.profile__bio {
  grid-column: 1 / -1;
  font-size: 1.8rem;
}

.profile__posts {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.posts__owned {
  font-size: 2rem;
  font-weight: 600;
  color: lightgray;
  border-bottom: 2px solid lightgray;
  width: 100%;
  cursor: pointer;
}

.posts__owned--active {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px solid black;
  width: 100%;
  cursor: pointer;
}

.posts__liked {
  font-size: 2rem;
  font-weight: 600;
  color: lightgray;
  border-bottom: 2px solid lightgray;
  width: 100%;
  cursor: pointer;
}

.posts__liked--active {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
  width: 100%;
  cursor: pointer;
}

.profile__content {
  grid-column: 1 / -1;
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 2px;
}

@media (max-width: 100rem) {
  .profile__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 50rem) {
  .profile__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 40rem) {
  .profile__username {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 0;
  }
  .profile__name {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 0;
  }
  .profile__stats {
    font-size: 1.2rem;
  }
  .profile__bio {
    font-size: 1.1rem;
  }
  .user-profile-scale {
    width: 5rem !important;
    height: 5rem !important;
  }
}

@media (max-width: 38rem) {
  .profile__container {
    margin: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile__mobileHeader {
    display: block;
    width: 100%;
  }
  .mobileHeader__name {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem;
  }
  .user-profile-scale {
    width: 7rem !important;
    height: 7rem !important;
  }
  .profile__data {
    align-items: center;
  }
  .profile__username {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.8rem;
  }
  .profile__name {
    display: none;
  }
  .profile__stats {
    padding-top: 1.6rem;
  }
  .profile__following {
    color: grey;
  }
  .profile__following--number {
    display: block;
    text-align: center;
    padding-bottom: 1.4rem;
    font-size: 1.7rem;
  }
  .profile__followers {
    color: grey;
  }
  .profile__followers--number {
    display: block;
    text-align: center;
    padding-bottom: 1.4rem;
    font-size: 1.7rem;
  }
  .profile__bio {
    font-size: 1.5rem;
  }
  .profile__content {
    grid-column: 1 / -1;
    margin-top: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 2px;
  }
}
