.post-container {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.post-close {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(163, 163, 163);
  border-radius: 50%;
  cursor: pointer;
}

.post-close::before {
  content: '';
  position: absolute;
  top: 2.1rem;
  left: 0.7rem;
  width: 3rem;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
}

.post-close::after {
  content: '';
  position: absolute;
  top: 2.1rem;
  left: 0.7rem;
  width: 3rem;
  height: 2px;
  background-color: black;
  transform: rotate(135deg);
}

.post-left-side {
  width: 70vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-page {
  width: 30vw;
  height: 100vh;
}

.post-right-side {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-info {
  position: relative;
  height: 40vh;
  width: 100%;
  padding: 10% 5% 5% 15%;
}

.post-user {
  display: flex;
}

.post-follow-btn {
  position: absolute;
  top: 20%;
  right: 15%;
  user-select: none;
}

.post-caption {
  font-size: 1.7rem;
  padding: 2% 0 2% 0;
}

.post-socials {
  position: absolute;
  bottom: 5%;
  left: 4%;
}

.post-comments {
  height: 100%;
  width: 100%;
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-comments--scroll {
  overflow-y: scroll;
}

.post-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-login__h1 {
  font-size: 2.5rem;
  font-weight: 600;
  width: 50%;
  text-align: center;
  margin: 1rem;
}

.post-login__h6 {
  font-size: 1.6rem;
  width: 50%;
  text-align: center;
  color: rgb(49, 49, 49);
}

.post-login__button {
  background-color: #fe2c55;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 1.4rem;
  color: white;
  border-radius: 0.8rem;
  width: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.post-login__button:active {
  background-color: #e91f47;
}

.post-login__signup {
  margin-top: 2rem;
}

.post-login__signup-info {
  color: black;
  font-size: 1.6rem;
}

.post-login__signup-btn {
  color: #fe2c55;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.post-add-comment {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.post-input {
  width: 70%;
  height: 20%;
  border: 0;
  border-radius: 15px;
  font-size: 1.6rem;
  margin: 0;
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: rgb(211, 211, 211);
}

.post-button {
  width: 12%;
  height: 40%;
  background-color: white;
  border: 0;
  color: gray;
}

.post-button-ready {
  width: 12%;
  height: 40%;
  background-color: white;
  border: 0;
  color: #fe2c55;
  cursor: pointer;
}

@media (max-width: 38rem) {
  .post-right-side {
    display: none;
  }
  .video-page {
    background-color: black;
    width: 100vw;
    height: 100vh;
  }
}
