.comment-container{
    display: flex;
    padding: 2% 15% 2% 5%;
    width:80%;
    position: relative;
}

.comment-socials{
    position: absolute;
    right:2%;
    margin-top: 5%;
}

.comment-user{
    display: flex;
    flex-direction: column;
}

.comment-field{
    font-size: 15px;
    color: black;
    white-space: normal;
}

.comment-timestamp{
    margin-top: 8px;
}

.reply-btn{
    margin-left: 30px;
    cursor: pointer;
}