.card {
    border-bottom: 1px solid rgb(227,227,228);
    width: 500px;
    height: 600px;
  }
  
  .social-tag {
    margin: 0 20px 0 5px;
  }

  .social-mini-icon{
    cursor: pointer;
  }
  
  .video {
    width: 270px;
    height: 500px;
    border-radius: 15px;
    margin-left: 70px;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    width: 412px;
  }
  
  .username {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .socials {
    margin-left: 70px;
  }
  
  .follow-button {
    border: 1px solid #fe2c55;
    border-radius: 3px;
    width: 88px;
    height: 16px;
    color: #fe2c55;
    font-weight: 600;
    padding: 2px 0 3px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
  
  .followed-button {
    border: 1px solid rgb(227,227,228);
    border-radius: 3px;
    width: 88px;
    height: 16px;
    font-weight: 600;
    padding: 2px 0 3px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
