.card {
  border-bottom: 1px solid rgb(227, 227, 228);
  width: 50rem;
  height: 60rem;
}

.social-tag {
  margin: 0 2rem 0 0.5rem;
  min-width: 1rem;
}

.social-mini-icon {
  cursor: pointer;
}

.video {
  width: 27rem;
  height: 50rem;
  border-radius: 1.5rem;
  margin-left: 7rem;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 41.2rem;
  font-size: 2rem;
}

.user-infoData {
  cursor: pointer;
}

.username {
  margin-left: 1rem;
  margin-right: 1rem;
}

.socials {
  font-size: 2rem;
  margin-left: 7rem;
}
