.card {
    border-bottom: 1px solid rgb(227,227,228);
    width: 50rem;
    height: 60rem;
  }
  
  .social-tag {
    margin: 0 2rem 0 0.5rem;
    min-width: 1rem;
  }

  .social-mini-icon{
    cursor: pointer;
  }
  
  .video {
    width: 27rem;
    height: 50rem;
    border-radius: 1.5rem;
    margin-left: 7rem;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    width: 41.2rem;
    font-size: 2rem;
  }
  
  .username {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .socials {
    font-size: 2rem;
    margin-left: 7rem;
  }
  
  .follow-button {
    border: 1px solid #fe2c55;
    border-radius: 3px;
    width: 8.8rem;
    height: 1.6rem;
    color: #fe2c55;
    font-weight: 600;
    padding: .2rem 0 .3rem;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .followed-button {
    border: 1px solid rgb(227,227,228);
    border-radius: 3px;
    width: 8.8rem;
    height: 1.6rem;
    font-weight: 600;
    padding: 2px 0 3px;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
  }
