.card {
  border-bottom: 1px solid rgb(227, 227, 228);
  width: 50rem;
  height: 60rem;
}

@media (max-width: 44rem) {
  .card {
    width: 50vw;
    height: auto;
  }
}

.social-tag {
  margin: 0 2rem 0 0.5rem;
  min-width: 1rem;
}

.social-mini-icon {
  cursor: pointer;
}

.video {
  width: 27rem;
  height: 50rem;
  border-radius: 1.5rem;
  margin-left: 7rem;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 41.2rem;
  font-size: 2rem;
}

.user-infoData {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.socials {
  font-size: 2rem;
  margin-left: 7rem;
}

.username {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 44rem) {
  .user-info {
    flex-direction: column;
  }
  .user-infoData {
    display: flex;
    flex-direction: column;
  }
  .video {
    margin: 0;
    width: 50vw;
    height: 57vh;
  }

  .socials {
    margin-left: 0;
  }
  .username {
    margin: 0 0 1rem 0;
  }
  .user-timestamp {
    display: none;
  }
}

@media (max-width: 38rem) {
  .user-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 41.2rem;
    font-size: 2rem;
  }
  .user-infoData {
    display: none;
  }
  .user-caption {
    display: none;
  }
  .video {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  html {
    left: 0;
  }
}
