.header {
  height: 6rem;
  width: 100%;
  border-bottom: solid 1px rgb(227, 227, 228);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 12.9rem;
  height: 4rem;
  background-image: url('../../images/tiker-logo.png');
  background-repeat: no-repeat;
  background-size: 11rem;
  margin: 0.5rem;
}

.search-container {
  position: relative;
  z-index: 0;
}

.search-input {
  margin: 0 auto;
  border-radius: 5rem;
  border: 1px solid transparent;
  font-size: 1.7rem;
  padding-left: 2rem;
  width: 35rem;
  height: 4rem;
  background-color: rgb(242, 241, 241);
  outline: none;
}

.search-input:focus {
  border: 1px solid gray;
}

.search-input:checked {
  border: 1px solid gray;
}

.search-clear {
  background-image: url('../../images/close-icon.svg');
  background-repeat: no-repeat;
  margin: 0 auto;
  position: absolute;
  width: 5rem;
  height: 2rem;
  top: 1.4rem;
  right: 6rem;
  cursor: pointer;
}

.search-split {
  position: absolute;
  background-color: rgb(202, 202, 202);
  width: 0.1rem;
  height: 3.3rem;
  top: 0.5rem;
  right: 5.5rem;
}

.search-btn {
  background-image: url('../../images/search-icon.svg');
  background-repeat: no-repeat;
  width: 3rem;
  background-color: rgb(242, 241, 241);
  border: none;
  position: absolute;
  right: 1.6rem;
  top: 1rem;
  cursor: pointer;
}

.upload-container {
  position: relative;
}

.upload {
  position: relative;
  width: 3rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  background-image: url('../../images/tiker-upload.png');
  background-size: 3rem;
  cursor: pointer;
  z-index: 1;
}

.upload-tooltip {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 11rem;
  background-color: rgb(68, 68, 68);
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  transform: translate(-4.9rem, 0.3rem);
  transition: all 0.3s ease-out;
  z-index: 0;
}

.upload-tooltip::before {
  content: '';
  position: absolute;
  border-width: 1rem;
  border-style: solid;
  /* bottom: 100%; */
  transform: translate(4rem, -2.9rem);
  border-color: transparent transparent rgb(68, 68, 68) transparent;
}

.upload:hover + .upload-tooltip {
  opacity: 1;
  transform: translate(-4.9rem, 1.4rem);
}

.personal-user {
  position: relative;
  cursor: pointer;
}

.personal {
  width: 4rem;
  height: 4rem;
  background-color: purple;
  border-radius: 2rem;
  margin: 0.5rem 2rem 0 2rem;
  z-index: 1;
}

.personal-options {
  visibility: hidden;
  position: absolute;
  background-color: white;
  transform: translate(-7rem, 1rem);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.419);
  border-radius: 7px;
  width: 13.5rem;
  z-index: 3;
}

.personal:hover + .personal-options {
  visibility: visible;
}

.personal-options::before {
  content: '';
  top: -4rem;
  position: absolute;
  width: 8vw;
  height: 5vh;
}

.personal-options:hover {
  visibility: visible;
}

.personal-options::after {
  content: ' ';
  position: absolute;
  border-width: 1rem;
  border-style: solid;
  margin-left: -0.5rem;
  bottom: 100%;
  left: 79%;
  border-color: transparent transparent white transparent;
}

.personal-option {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
  padding: 2rem;
}

.personal-option:hover {
  background-color: rgb(240, 239, 239);
  cursor: pointer;
}

.login-btn {
  background: #fe2c55;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  background: #ec284f;
}
