.header {
    height: 6rem;
    width: 100%;
    border-bottom: solid 1px rgb(227,227,228);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 12.9rem;
    height: 4rem;
    background-image: url('../../images/tiker-logo.png');
    background-repeat: no-repeat;
    background-size: 11rem;
    margin: 0.5rem;
  }
  .upload {
    width: 3rem;
    height: 2.5rem;
    margin-top: 1.5rem;
    background-image: url('../../images/tiker-upload.png');
    background-size: 3rem;
    cursor: pointer;
  }
  
  .personal {
    position:relative;
    width: 4rem;
    height: 4rem;
    background-color: purple;
    border-radius: 2rem;
    margin: 0.5rem 2rem 0 2rem;
  }
  
  .personal-options {
    visibility: hidden;
    position:absolute;
    background-color: white;
    transform: translate(-7rem, 1rem);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.419);
    border-radius: 7px;
    width: 7%;
    z-index: 2;
  }

  .personal:hover + .personal-options {
    visibility: visible;
  }

  .personal-options:hover{
    visibility: visible;
  }

  .personal-options::after {
    content: " ";
    position: absolute;
    border-width: 1rem;
    border-style: solid;
    margin-left: -0.5rem;
    bottom: 100%;
    left: 79%;
    border-color: transparent transparent white transparent;
  }

  .personal-option {
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
    padding: 2rem 2rem;
  }

  .personal-option:hover {
    background-color: rgb(240, 239, 239);
    cursor: pointer;
  }

  .login-btn {
    background:#fe2c55;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 1rem;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background:#ec284f;
  }