/* Styling for Upload Page */
.upload-page {
  margin-left: 3rem;
}

.input-section {
  margin: 1rem 1rem 1rem 0;
  width: 70rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-section {
  margin-top: 6rem;
}

label {
  font-size: 4rem;
  line-height: 0;
}

input {
  height: 4.5rem;
  width: 50rem;
  font-size: 3.5rem;
  margin-top: -2rem;
}

.form-bottom {
  float: right;
}

.post-error {
  color: red;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: right;
}

button {
  height: 3rem;
  width: 10rem;
  float: right;
}

.upload-button {
  border: none;
  border-radius: 0.2rem;
  color: gray;
  margin: 1rem;
  width: 15rem;
  height: 4rem;
}

.upload-button--ready {
  border: none;
  border-radius: 0.2rem;
  background-color: #fe2c55;
  color: white;
  margin: 1rem;
  width: 15rem;
  height: 4rem;
  cursor: pointer;
}
