/* Styling for Upload Page */
.upload-page {
  margin-left: 3rem;
}

.form__section {
  margin-top: 6rem;
  display: flex;
}

.form__labels {
  margin-right: 2rem;
}

.form__inputs {
  width: 50rem;
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  font-size: 4rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.form__input {
  height: 5.5rem;
  font-size: 3rem;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.form__bottom {
  float: right;
}

.post-error {
  color: red;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.upload-button {
  border: none;
  border-radius: 0.2rem;
  color: gray;
  margin: 1rem 0 1rem 1rem;
  padding: 0;
  width: 15rem;
  height: 4rem;
  float: right;
}

button {
  height: 3rem;
  width: 10rem;
}

.upload-button--ready {
  border: none;
  border-radius: 0.2rem;
  background-color: #fe2c55;
  color: white;
  margin: 1rem 0 1rem 1rem;
  width: 15rem;
  height: 4rem;
  float: right;
  cursor: pointer;
}

@media (max-width: 70rem) {
  .form__inputs {
    width: 100%;
  }
  .form__label {
    font-size: 3.4rem;
  }
  .form__input {
    font-size: 2.4rem;
    height: 5rem;
  }
}

@media (max-width: 38rem) {
  .form__section,
  .form__bottom {
    margin-right: 3rem;
  }
  .form__label {
    font-size: 2.6rem;
  }
  .form__input {
    font-size: 1.8rem;
    height: 4rem;
  }
}
