.minicard {
  padding: 0.5rem 0 0.5rem 0;
  justify-content: space-between;
  border-radius: 0.3rem;
  cursor: pointer;
  user-select: none;
}

.minicard:hover {
  background-color: rgb(245, 245, 245);
}

@media (max-width: 66rem) {
  .minicard__mediumScreen {
    display: none;
  }
}
