@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

h1 {
  font-size: 60px;
  line-height: 0;
}

h2 {
  font-size: 20px;
  line-height: 0;
  font-weight: 300;
}

h3 {
  font-size: 15px;
  font-weight: 300;
  line-height: 0;
}

.bold {
  font-weight: 600;
}

.red {
  color:#fe2c55;
}

p {
  color: grey;
  font-size: 12px;
  line-height: 0;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid rgb(227,227,228);
}

.section {
  display: flex;
  flex-direction: row;
}

.break {
  height: 10px;
}

.user-profile {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 25px;
  margin-right: 15px;
  }


