@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root{
  /* This defines what 1rem is */
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

h1 {
  font-size: 6rem;
  line-height: 0;
}

h2 {
  font-size: 2rem;
  line-height: 0;
  font-weight: 300;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 0;
}

.bold {
  font-weight: 600;
}

.red {
  color:#fe2c55;
}

p, span {
  color: grey;
  font-size: 1.4rem;
  line-height: 0;
}

hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid rgb(227,227,228);
}

.section {
  display: flex;
  flex-direction: row;
}

.break {
  height: 1rem;
}

.user-profile {
  width: 5rem;
  height: 5rem;
  background-color: red;
  border-radius: 2.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.user-profile-small {
    width: 2.5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: 2.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.hide-scroll {
  overflow: hidden;
}
