@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root {
  /* This defines what 1rem is */
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.App {
  text-align: center;
}

.mobile-icon {
  display: none;
}

.socials {
  font-size: 2rem;
  margin-left: 7rem;
}

h1 {
  font-size: 6rem;
  line-height: 0;
}

h2 {
  font-size: 2rem;
  line-height: 0;
  font-weight: 300;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 0;
}

.bold {
  font-weight: 600;
}

.red {
  color: #fe2c55;
}

p,
span {
  color: grey;
  font-size: 1.4rem;
  line-height: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(227, 227, 228);
}

.section {
  display: flex;
  flex-direction: row;
}

.break {
  height: 1rem;
}

.user-profile-big {
  width: 10rem;
  height: 10rem;
  background-color: red;
  border-radius: 5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.user-profile {
  width: 5rem;
  height: 5rem;
  background-color: red;
  border-radius: 2.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.user-profile-small {
  width: 2.5rem;
  height: 2.5rem;
  background-color: red;
  border-radius: 2.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.hide-scroll {
  overflow: hidden;
}

.follow-button {
  border: 1px solid #fe2c55;
  border-radius: 3px;
  width: 8.8rem;
  height: 1.6rem;
  color: #fe2c55;
  font-weight: 600;
  padding: 0.2rem 0 0.3rem;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: white;
}

.followed-button {
  border: 1px solid rgb(227, 227, 228);
  border-radius: 3px;
  width: 8.8rem;
  height: 1.6rem;
  font-weight: 600;
  padding: 2px 0 3px;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.label--focus {
  font-size: 1.2rem;
  transform: translateY(-1.5rem);
}

@media (max-width: 44rem) {
  .socials {
    margin-left: 0;
  }
}

@media (max-width: 39rem) {
  .followed-button {
    padding: 2px 2px 3px;
  }
  .followed-button {
    padding: 2px 2px 3px;
  }
}

@media (max-width: 38rem) {
  .mobile-icon {
    display: inline;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .follow-button {
    display: none;
  }
  .followed-button {
    display: none;
  }
}
