.video__user {
  width: 22rem;
  height: 30rem;
  background-color: black;
  cursor: pointer;
}

@media (max-width: 38rem) {
  .video__user {
    width: 15rem;
    height: 20rem;
    cursor: pointer;
  }
}
