.mediumCard__container {
  display: flex;
  cursor: pointer;
  width: 80vw;
  padding: 2rem;
}

.mediumCard_container:hover {
  background-color: rgb(245, 245, 245);
}

.mediumCard__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mediumCard__name {
  font-size: 1.4rem;
}

.mediumCard__followers--number {
  color: black;
}

.mediumCard__bio {
  font-size: 1.4rem;
}

@media (max-width: 38rem) {
  .mediumCard__bio {
    display: none;
  }
}
